{% block content %}
    <form method="post" name="password_recovery_form">
    {% csrf_token %}
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-120 medium-120 large-120 cell"><h3 class="text-center content-header">Password Recovery</h3></div>
                <div class="small-90 small-offset-15 medium-70 medium-offset-25 large-60 large-offset-30 cell"><label class="inline_label">Email:&nbsp;<input class="input-group font" type="email" name="email" maxlength="150" required="required"></label></div>
                <div class="small-90 small-offset-15 medium-70 medium-offset-25 large-60 large-offset-30 cell text-center"><Button class="submit-button" type="submit" value="" name="password_recovery_form">Submit</Button></div>
            </div>
        </div>
    </form>
{% endblock %}