{% block content %}
  {#% if validlink %#}
    <form class="centered-form" method="post" >
        {% csrf_token %}
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="small-120 medium-120 large-120 cell"><h3 class="text-center content-header">Input Your New Password</h3></div>
                    <div class="small-90 small-offset-15 medium-70 medium-offset-25 large-60 large-offset-30 cell"><label>New password:&nbsp;<input type="password" name="new_password1" required="required"></label></div>
                    <div class="small-90 small-offset-15 medium-70 medium-offset-25 large-60 large-offset-30 cell">
                        <span class="helptext"></span>
                        <ul>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </div>
                    <div class="small-90 small-offset-15 medium-70 medium-offset-25 large-60 large-offset-30 cell"><label>New password confirmation:&nbsp;<input type="password" name="new_password2" required="required" id="id_new_password2"></label></div>
                    <div class="small-90 small-offset-15 medium-70 medium-offset-25 large-60 large-offset-30 cell text-center"><button class="submit-button" type="submit" name="email" value="{{ email }}">Change password</button></div>
                </div>
            </div>
    </form>
  {#% else %#}
    <!--<p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    -->
  {#% endif %#}
{% endblock %}