<h3 class="content-header text-center">Settings</h3>

<div style="border: 1px solid black; border-radius: 5px; padding: 10px; margin-bottom: 5px;">
    <div>
        Account Setup Progress
    </div>

    <div class="secondary progress">
        <span class="progress-meter" style="width: 25%">
            <span class="progress-meter-text">25%</span>
        </span>
    </div>
</div>
<div style=" border: 1px solid black; border-radius: 5px; padding: 10px; margin-bottom: 5px;">
    <form>
        <label>Change First Name ({{ user.first_name }})<input type="text" name="" value=""></label>
        <label>Change Last Name ({{ user.last_name }})<input type="text" name="" value=""></label>
        <!--label>Add Phone Number ({{ user.first_name }})<input type="text" name="" value=""></label>
        <label>Add Address ({{ user.first_name }})<input type="text" name="" value=""></label>
        <label>Add Credit Card ({{ user.first_name }})<input type="text" name="" value=""></label>
        <label>Privacy Level ({{ user.first_name }})<input type="text" name="" value=""></label-->
        <div class="text-center">
            <button class="submit-button" type="submit">Submit</button>
        </div>
    </form>

</div>

