
<div class="grid-x" style="padding: 3px; ">
    <div id="content" class="cell small-120 medium-120 large-70 large-offset-13 xlarge-70 xlarge-offset-13">
        {% include 'Base-Content/MainMenu/Content/Content-Top.html' %}
        {% include 'Base-Content/MainMenu/Content/Content-Bottom.html' %}
    </div>
    <div id="sidebar" class="cell large-22 large-offset-2 xlarge-22 xlarge-offset-2 show-for-large">
        {% include 'Base-Content/MainMenu/SubMenu/SubMenu-Top.html' %}
        {% include 'Base-Content/MainMenu/SubMenu/SubMenu-Bottom.html' %}
    </div>
    <!-- Right Side Offset-->
    <div class="grid-x large-13 xlarge-13 show-for-large"></div>
</div>


