html {
    min-width: 300px;
}
* {
    border: none;
    padding: 0;
    margin: 0;
}
body * {
}
body {
    display: flex;
    flex-flow: column;
    min-width: 300px;
}
.centered-form {
    margin: 5% auto 5% auto;
}
.submit-button {
    text-align: center;
}
.submit-button button {
    padding: 10px;
    background-color: lightgrey;
}
.center-div {
    margin: auto !important;
}
.text-center {

}