
<footer style="padding: 3px;">
    <div class="grid-x primary-background contrast-color rounded show-for-medium">
        <div class="cell small-120 medium-60 large-30" style="border-right: 1px solid lightgray;padding: 10px 0 10px 0;">
            {% include 'Base-Content/BottomMenu/medium/bottomContent01.html' %}
        </div>
        <div class="cell small-120 medium-60 large-30" style="border-right: 1px solid lightgray;padding: 10px 0 10px 0;">
            {% include 'Base-Content/BottomMenu/medium/bottomContent02.html' %}
        </div>
        <div class="cell small-120 medium-60 large-30" style="border-right: 1px solid lightgray;padding: 10px 0 10px 0;">
            {% include 'Base-Content/BottomMenu/medium/bottomContent03.html' %}
        </div>
        <div class="cell small-120 medium-60 large-30" style="padding: 10px 0 10px 0;">
            {% include 'Base-Content/BottomMenu/medium/bottomContent04.html' %}
        </div>
    </div>
    <div class="grid-x show-for-small-only">
        <div class="cell small-120" style="padding: 10px 0 10px 0;">
            <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
                {% include 'Base-Content/BottomMenu/small/bottomContent01.html' %}
                {% include 'Base-Content/BottomMenu/small/bottomContent02.html' %}
                {% include 'Base-Content/BottomMenu/small/bottomContent03.html' %}
            </ul>
            {% include 'Base-Content/BottomMenu/small/bottomContent04.html' %}
        </div>
    </div>
</footer>

